NEXT_PUBLIC_SUPABASE_URL="https://alictxghssxtnkyjnwea.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsaWN0eGdoc3N4dG5reWpud2VhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIxNjk5MTMsImV4cCI6MjA3Nzc0NTkxM30._KLGs-9NgZ6rJ9Hh1R8mJC_UFsJ3kMru3C75RZHQb58"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsaWN0eGdoc3N4dG5reWpud2VhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjE2OTkxMywiZXhwIjoyMDc3NzQ1OTEzfQ.3JIOv2FZqhxk69QIraJcyfNKtYv0p4_ysAhpq5XHxhw"